{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="review">
        <div class="card">
  <div class="card-header">
      {% if info.publisher_name %}
        <b>publisher: </b>
      {{ info.publisher_name }}
    {% else %}
        <b>publisher: </b>
        Anonymous
      {% endif %}
  </div>

  <div class="card-body">
    <h4 class="card-title">{{ info.name }}</h4>

    <p class="card-text">{{ info.info }}</p>
  </div>
        <!-- Reviews -->
        <div class="card-footer">
			<h3 class="my-3">Reviews - <span class="avg-rating">{{avg_reviews.avg_rating|floatformat}}</span>/5 <i class="fa fa-star text-warning"></i>
			</h3>
          {{ rev }} Reviews
	{% if user.is_authenticated %}
	<!-- Product Review -->
	<div class="modal fade" id="productReview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Add Info Review</h5>
	        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form method="post" id="addForm" action="{% url 'save-review' info.id %}">
	      		{% csrf_token %}
		      	<table class="table table-bordered">
		      		{{reviewForm.as_table}}
		      		<tr>
		      			<td colspan="2">
		      				<button type="submit" class="btn btn-primary">Submit</button>
		      				<input type="reset" class="btn btn-dark" value="Reset" id="reset" />
		      			</td>
		      		</tr>
		      	</table>
		      	<p class="ajaxRes"></p>
	      </form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Product Review End -->
	{% endif %}
			<div class="card">
				<div class="card-body review-list" style="max-height: 400px; overflow: auto;">
					<!-- Detail -->
					{% if reviews %}
						{% for review in reviews %}
						<blockquote class="blockquote text-right">
						  <small>{{review.review_text}}</small>
						  <footer class="blockquote-footer">{{review.user}}
						  	<cite title="Source Title">
						  		{% for star in review.review_rating|ljust:review.review_rating %}
						  		<i class="bi bi-star-fill text-warning"></i>
								{% endfor %}
						  	</cite>
						  </footer>
                        {% if user.is_staff or user.id == review.user_id %}
                        <a href="{% url 'delete_review' review.id info.id %}" class="btn btn-outline-danger btn-sm">
                         delete info
                        </a>
                         {% endif %}
						</blockquote>
                            {% if not forloop.last %}
						<hr />
                            {% endif %}
						{% endfor %}
					{% else %}
						<p class="no-data">Add First Review</p>
					{% endif %}
				</div>
			</div>
        <br>
                <a href="{% url 'info' %}" class="btn btn-secondary btn-sm">
                         Previous Page
                        </a>
        {% if user.is_authenticated %}
				{% if canAdd %}
				<button data-bs-toggle="modal" data-bs-target="#productReview" type="button" class="btn btn-warning btn-sm float-right reviewBtn">Add Review</button>
				{% endif %}
				{% endif %}
    </div>
    </div>
        </div>


<script src="{% static 'jquery.ez-plus.js' %}"></script>
<script type="text/javascript">
    $('#zoom_01').ezPlus();
</script>
{% endblock %}