{% extends 'base/base.html' %}
{% block content %}
    <div class="search-page">
    {% if searched %}
        <h1>you searched for {{ searched }}</h1>
        <br>
        {% if not info and not pages %}
            <h4>Cant find {{ searched }}</h4>
            {% endif %}
        {% for pages in pages %}
           <a href="{{ pages.web }}"><p>{{ pages }} </p> </a>

        {% endfor %}


        {% for info in info %}

        <div class="card">

  <div class="card-header">
      {% if info.publisher_name %}
        <b>publisher: </b>
      {{ info.publisher_name }}
    {% else %}
        <b>publisher: </b>
        Anonymous
      {% endif %}
  </div>


  <div class="card-body">
    <h4 class="card-title">{{ info.name }}</h4>
    <p class="card-text">{{ info.info }}</p>
  </div>
        <div class="card-footer text-muted">
       {% if user.is_staff or user.id == info.publisher_id %}
       <a href="{% url 'delete_info' info.id %}" class="btn btn-outline-danger btn-sm">
        delete info
       </a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'info_review' info.id %}" class="btn btn-outline-warning btn-sm">
        reviews
       </a>
        {% endif %}
        {% if info.inforeview_set.count != 1 %}
            {{ info.inforeview_set.count }} - Reviews
            {% else %}
            {{ info.inforeview_set.count }} - Review
        {% endif %}
        </div>
        </div>
        <br/>
    {% endfor %}
    {% else %}
        <h1>
        Hey! you forgot to search!
        </h1>
    {% endif %}

    </div>

{% endblock %}
