{% extends 'base/base.html' %}
{% load lower_filter %}
{% load static %}
{% block scripts %}
    <script src="{% static 'test.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="info">
    <div class="row">
    <div class="col-sm">
        <button id="click" type="button" data-bs-toggle="collapse" data-bs-target="#infoSearch" aria-expanded="false" aria-controls="infoSearch" class="advanced-button btn btn-outline-secondary" onclick="clickFunction()">
        Advanced<i class="bi bi-chevron-down text-dark"></i>
        </button>
    </div>

    <div class="col-sm">
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
      {% if infos.has_previous %}
          <li class="page-item"><a class="page-link" href="?{{ request.GET|remove_obsolete_pages }}&page=1"> <i class="bi bi-chevron-double-left"></i> </a></li>
    <li class="page-item">
      <a class="page-link" href="?{{ request.GET|remove_obsolete_pages }}&page={{ infos.previous_page_number }}"> <i class="bi bi-chevron-left"></i> </a>
    </li>
          {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#"> <i class="bi bi-chevron-left"></i> </a>
    </li>
      {% endif %}
  {% if infos.previous_page_number > 0 %}
    <li class="page-item"><a class="page-link" href="?{{ request.GET|remove_obsolete_pages }}&page={{ infos.previous_page_number }}">{{ infos.previous_page_number }}</a></li>
  {% endif %}
    <li class="page-item"><a class="page-link active" href="#">{{ infos.number }}</a></li>
  {% if infos.next_page_number <= infos.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?{{ request.GET|remove_obsolete_pages }}&page={{ infos.next_page_number }}">{{ infos.next_page_number }}</a></li>
  {% endif %}
  {% if infos.has_next %}
    <li class="page-item">
      <a class="page-link" href="?{{ request.GET|remove_obsolete_pages }}&page={{ infos.next_page_number }}"> <i class="bi bi-chevron-right"></i> </a>
    </li>
      <li class="page-item"><a class="page-link" href="?{{ request.GET|remove_obsolete_pages }}&page={{ infos.paginator.num_pages }}"> <i class="bi bi-chevron-double-right"></i> </a></li>
      {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#"> <i class="bi bi-chevron-right"></i> </a>
    </li>
  {% endif %}
  </ul>
</nav>
    </div>

    </div>
    <div class="info-collapse">
  <div class="collapse" id="infoSearch">
      <div class="card">
  <div class="card-body">
    <form method="get">
        {{ myFilter.form }}
        {{ newFilter.form }}
        <td colspan="2">
        <button class="btn btn-primary" type="submit">Search</button>
        <input type="reset" class="btn btn-dark" value="Reset" id="reset"/>
        </td>
    </form>
  </div>
          </div>
  </div>
    </div>
    {% if getTrue %}
    {% for info in infos %}
        <div class="card">
  <div class="card-header">
      {% if info.publisher_name %}
        <b>publisher: </b>
      {{ info.publisher_name }}
      {% endif %}
  </div>

  <div class="card-body">
    <h4 class="card-title">{{ info.name }}</h4>
    <p class="card-text">{{ info.info }}</p>
  </div>
        <div class="card-footer text-muted">
       {% if user.is_staff or user.id == info.publisher_id %}
           <div class="modal fade" id="deleteBut" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
	      </div>
	      <div class="modal-body d-flex justify-content-evenly">
	      	<a href="{% url 'delete_info' info.id %}" class="btn btn-outline-danger btn-sm">
                <span aria-hidden="true">Yes </span>
       </a>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">No</span>
	        </button>
	      </div>
	    </div>
	  </div>
	</div>
           <button data-bs-toggle="modal" data-bs-target="#deleteBut" type="button" class="btn btn-danger btn-sm float-right reviewBtn">Delete info</button>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'info_review' info.id %}" class="btn btn-outline-warning btn-sm">
        reviews
       </a>
        {% endif %}
        {% if info.inforeview_set.count != 1 %}
            {{ info.inforeview_set.count }} - Reviews
            {% else %}
            {{ info.inforeview_set.count }} - Review
        {% endif %}
        </div>
</div>
        <br/>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}



