<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container-xxl ">
    <a class="navbar-brand " href="{% url 'home' %}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            info
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'info' %}">info page</a></li>
            <li><a class="dropdown-item" href="{% url 'add_info' %}">add info</a></li>
          </ul>
        </li>
      </ul>
      </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
              <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" href="/admin">{{ user.get_username }}</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'logout' %}">logout</a>
              </li>
          {% else %}
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'register_user' %}">register</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'login' %}">login</a>
          </li>
          {% endif %}
        </ul>
        </div>
  </div>
</nav>